    *{
    box-sizing: border-box;
    }
    body {
        color: #2c3e50;
        background: #2c3e50;
    }
    .container {
        margin: 0 auto;
        max-width: 1000px;
    }
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        right: 0;
        height: 56px;
        background-color: #fff;
        box-sizing: border-box;
        border-bottom: 1px solid #eaecef;
    }
    .navbar-menu {
        list-style: none;
        display: flex;
    }
    .navbar-menu li {
        margin-top: 10px;
        margin-right: 2rem;
        color: black;
        
    }
    
    .task_descr {
        font-size: 30px;
    }

    .card {
        margin-top: 80px;
        height: 200px;
        overflow: hidden;
        background: #fff;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 25px;
    }

    .card-todo {
        margin-top: 80px;
        min-height: 200px;
        overflow: hidden;
        background: #fff;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 25px;
    }

    .center {
        text-align: center;
        margin-top: 30px;
    }
    .form-control {
        text-align: center;
        border:  #fff;
        display: block;
        color: #2c3e50;
        font-size: 1rem;
        min-height: 60px;

    }
    #task {
        width: 700px;
        height: 50px;
    }

    a {
        color: #3eaf7c;
        font-weight: 500;
        text-decoration: none;
    }

    .navbar-menu li a {
        text-transform: uppercase;
        color: #2c3e50;
        text-decoration: none;
        font-weight: 500;
    }

    .navbar-menu li a:hover, .navbar-menu li a.active {
        border-bottom: 2px solid #3eaf7c;
    }
    .input_text {
        font-size: 20px;
        cursor:pointer;
    }
    .btn {
        cursor: pointer;
        background: #42b983;
        color: #fff;
        width: 180px;
        height: 54px;
        text-transform: uppercase;
        margin-left: 10px;
        border: 2px solid black;

    }
    .list-btn {
        vertical-align:middle;

    }
    .all_btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card.center {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .btn.danger {
        background: #e53935;
        color: #fff;
        border-color: #e53935;
    }

    
    .btn:disabled {
        cursor: not-allowed;
        opacity: 1!important;
        background: #eee!important;
        border-color: #ddd!important;
        color: #999!important;
    }